/* Style the sky element */
#sky{
    height:200px;
    background-color: cyan;
    position:relative;
}
/* Style the ground elements */
#ground{
    height: 150px;
    background-color:green;
}

/* Style the sun */
#sun {
    position: absolute;
    right: 30px;
    transform: scale(0.7);
  }
  
  /* Style the sun on hover */
  #sun:hover {
      transform: scale(1);
  }

/* CSS at-rule keyframe */
/* 
Create a straight drive frame 
@keyframe nameOfAnimation {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    ...
    100%{}
}
*/
@keyframes drive{
    0%{ left:0; }
    100%{ left:70%; }
}

/* Create a flying animation key frame */
@keyframes flyingCar{
    0%{ left:0; }
    15%{ z-index:3; }
    18%{ z-index:2; }
    20%{ 
        top:10px;
        z-index:1;
    }
    70%{top:0;}
    100%{left:70%;}
}

/* Style the car */
#car{
    position:absolute;
    top:100px;
}

/* 
> Style the straight drive class 
> When callhttp://www.clipartbest.com/cliparts/ncX/8RL/ncX8RLjdi.pnging the animation we need to provide the below three properties:
    > animation-name
    > animation-duration
    > animation-iteration-count
*/
.straght_drive{
    transform :scale(0.7);
    animation-name:drive ;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    
}