:focus{
    outline: 0
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    letter-spacing:2px;
    color: white;
    background-color: #44986A;
    align-items: center;
    text-align: center;
}
table {
    margin: 10px;
}

#tablehead {
    font-size: 3em;
    border: 4px solid cornflowerblue;
    background-color:blueviolet;
    border-radius: 20px;
}

/* .item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 2px;
    background-color: beige;
    float: left;
} */

.item {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(229, 255, 0);
    position: relative;
}
.item:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid rgb(0, 26, 255);
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}
