/*========================================*/
/*              MENU SECTION              */
/*========================================*/
#menu{
    background-color: rgb(124, 124, 194);
    display: flex;
    justify-content: flex-end;
}

.item{
    padding: 10px;
    font-size: 20px;
}

#hamburgerMenu{
    background-color: lightblue;
    text-align: center;
    display: none;
}

.dropdown{
    width: 100%;
    border: 1px dotted black;
    padding: 10px;
    font-size: 20pxh;
}
#burgerIcon {
    width:30px;
    height:30px;
    padding:10px;
    cursor:pointer;
    display:none;
}     
@media screen and (max-width:900px) {
    .item {
        display: none;
    }
  
    #burgerIcon {
        display: flex;
    }
}

@media screen and (min-width: 601px) {
  .dropdown {
      display: none;
  }
}