/* Set the default font family */
* {
    font-family:"Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/* Style the navigation bar */
#navbar , #navbar ul{
    display: flex;
    justify-content: space-around;
}

/* Style the ul item in the navbar to occupy 100% of the width */
#navbar ul {
    width: 100%;
}

/* Style the links to have no text decoration */
#navbar li a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: 1.3em;
}

/* Style the list items in the navigation bar to look like buttons */
#navbar li {
    list-style-type: none;
    background-color: #ea8aef;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    text-align: center;
}

/* Style the body tag */
body {
    align-items: center;
    text-align: center;
}

/* Style the registration form */
#regForm {
    align-items: center;
    text-align: center;
    margin : 20px;
    box-shadow: 0 0 20px 0 rgba(188, 97, 216, 0.19), 0 0 6px 0 rgba(193, 90, 231, 0.23);
    background-color : #f1f1f1;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 10px;
    width : auto;
}

/* Style the labelInputDiv class */
.labelInputDiv {
    align-items: center;
    text-align: left;
    margin : 20px;
    background-color : #ea8aef;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 20px;
    display : flex;
    justify-content : space-between;
}

label, input {
    font-size: 1.2em;
}

/* Style the label tags */
label {
    width : 30%;
    font-weight : bold;
}

/* Style the input tags */
input {
    outline: none;
    border: 0;
    height: 35px;
    width :55%;
    padding : 5px;
    border : 1px solid #ccc;
    border-radius : 5px;
}

/* Style the title div */
#regFormTitleDiv {
    margin : 20px;
    background-color : #f1f1f1;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 20px;
    width : 50%;
}

/* Style the Buttons */
button {
    font-size: 1.2em;
    font-weight: bold;
    margin : 20px;
    background-color : #ea8aef;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 10px;
    width : 120px;
}

/* Style the button tag on hover */
button:hover {
    background-color : #b033b7;
    border-radius : 120px;
    color: #ccc;
}

/* Style the diplay div */
#displayDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin : 20px;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 30px;
    width : 70%;
}

#cartDisplayDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin : 8px;
    border : 1px solid #ccc;
    border-radius : 5px;
    padding : 5px;
    width : 30%;
}

/* Style the product div */
.product, .cart_item {
    margin : 10px;
    padding : 0;
    border : 1px solid #2681af;
    border-radius : 5px;
    width : 300px;
    height : fit-content;
    background-color : #2f8ab4;
}

.product p {
    margin: 5px;
}

.product img {
    width : 300px;
    height : 165px;
    border-radius: 5px;
}

#shoppingSection {
    display: flex;
    justify-content: center;
    align-items: baseline;
}