body {
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}
img {
    border: 4px solid; 
    color: darkorange;
    border-color: darkorange;
    border-radius: 15px;
    
}
h2 { 
    color: navy; 
}