/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    align-items: center;
}

/* Style the login section and the footer that contains a link to the registration page */
.login_content {
    background-color: #f1f1f1;
    width: 100%;
    padding: 8px;
    align-items: center;
    height: 70%;
}

/* Style the form */
.login_form {
    border: 3px solid #f1f1f1;
    width: 50%;
    margin: 0 auto;
    padding: 8px;
    align-items: center;
}

/* Style the input field divs */
.field {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    text-align: left;
    align-items: center;
}

/* Style the input labels */
label {
    font-size: 1.2em;
    margin: 8px 0;
}

/* Style the input fields */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Style the login button */
.login_btn {
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

/* Style the form footer */
.form_footer {
    padding: 8px;
    text-align: center;
    background: #ddd;
    margin-top: 15px;
}

/* Style the footer */
.footer {
    padding: 8px;
    text-align: center;
    background: #ddd;
    margin-top: 15px;
}
